{% extends "base.html" %}
{% block content %}
<style>

 #main { 
    background: #e8e8e8; 
    margin: 2em;
    padding: 0px 10px;
    width: 66em;
    width: 700px;
 }

 /* standard link colors */
#main pre code a { color: #0000FF; } /* normal unvisited links */
#main pre code a:link { color: #0000FF; } /* normal unvisited links */
#main pre code a:link:visited { color: #7F007F; } /* visited links */
#main pre code a:link:active { color: #FF0000; } /* active links */

 </style>

<div id="main">
<pre>
<code class="prettyprint">
{
  "name": "Austin Ogilvie",
  "title": "Founder",
  "company": {
    "url": "<a href='https://www.yhat.com' target=_blank>https://www.yhat.com</a>",
    "name": "Yhat, Inc.",
    "location": "brooklyn"
  },
  "alma mater": "University of Virginia",
  "location": "Brooklyn, NY",
  "email": "<a href='mailto:tips@cia.lol' target=_blank>tips@cia.lol</a>",
  "github": "<a href='https://github.com/hernamesbarbara' target=_blank>hernamesbarbara</a>",
  "twitter": "<a href='https://twitter.com/austinogilvie' target=_blank>@austinogilvie</a>",
  "interests": [
    "adventure sports",
    "bluegrass",
    "the Internet"
  ],
  "favorite quote": "Texas is bigger than France.",
  "My publicly-auditable identity": "<a href='https://keybase.io/hernamesbarbara' target=_blank>keybase.io/hernamesbarbara</a>"
}
</code>
</pre>
</div>
<script src="{% static '/google-code-prettify/run_prettify.js' %}"></script>
{% endblock %}
