<!doctype html>
<html>
<head>
	<title>Just another blog named barbara.</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
    <meta name="tags" content="austin ogilvie, blog, yhat, yhathq" />
    <meta name="authors" content="Austin Ogilvie" />
    <meta name="summary" content="Austin Ogilvie Blog" />
	<meta property="og:image" content="http://f.cl.ly/items/0d2Z1z3Z3E2z3Y1g1K0J/logo-square.png"/>
	<meta property="og:site_name" content="hernamesbarbara"/>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

	{% block header %}
	<title>Welcome</title>
	{% endblock %}

</head>
<body>
	{% block content %}
	Main content
	{% endblock %}

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	{% endblock %}
</body>
</html>
 
